network:
  version: 2
  renderer: networkd
  ethernets:
    {{ k3s_static_interface_effective | default('eth0') }}:
      dhcp4: false
      addresses:
        - {{ k3s_static_ipv4 }}
      gateway4: {{ k3s_static_router }}
      nameservers:
        addresses:
{% for dns in k3s_static_dns_effective %}
          - {{ dns }}
{% endfor %}
