---
# Servers should be restarted sequentially to avoid etcd learner issues
# Agents have no such limitation
- name: Upgrade K3s Servers
  hosts: server
  gather_facts: true
  become: true
  serial: 1
  tasks:
    - name: Run k3s_upgrade role
      ansible.builtin.include_role:
        name: k3s.orchestration.k3s_upgrade

- name: Upgrade K3s Agents
  hosts: agent
  gather_facts: true
  become: true
  tasks:
    - name: Run k3s_upgrade role
      ansible.builtin.include_role:
        name: k3s.orchestration.k3s_upgrade
