---
- name: Cluster prep
  hosts: k3s_cluster
  gather_facts: true
  become: true
  tasks:
    - name: Ensure .bashrc exists for ansible_user
      ansible.builtin.file:
        path: "/home/{{ sudo_user }}/.bashrc"
        state: touch
        mode: '0644'
        owner: "{{ sudo_user }}"
        group: "{{ sudo_user }}"
        modification_time: preserve
        access_time: preserve

    - name: Run prereq role
      ansible.builtin.include_role:
        name: k3s.orchestration.prereq

    - name: Run airgap role
      ansible.builtin.include_role:
        name: k3s.orchestration.airgap

    - name: Run raspberrypi role
      ansible.builtin.include_role:
        name: k3s.orchestration.raspberrypi

- name: Setup K3S server
  hosts: server
  become: true
  tasks:
    - name: Run k3s_server role
      ansible.builtin.include_role:
        name: k3s.orchestration.k3s_server

- name: Setup K3S agent
  hosts: agent
  become: true
  tasks:
    - name: Run k3s_agent role
      ansible.builtin.include_role:
        name: k3s.orchestration.k3s_agent
