---
- name: Configure static networking for all nodes
  hosts: static_network
  become: true
  gather_facts: false
  tasks:
    - name: Apply netplan static configuration
      ansible.builtin.include_role:
        name: static_network

    - name: Reboot if netplan was changed
      ansible.builtin.reboot:
        reboot_timeout: 600
      when: hostvars[inventory_hostname].get('netplan_changed', False)
