network:
  version: 2
  ethernets:
    {{ static_interface_effective }}:
      dhcp4: false
      addresses:
        - {{ static_ipv4 }}
      gateway4: {{ default-gateway }}
      nameservers:
        addresses:
{% for dns in static_dns %}
          - {{ dns }}
{% endfor %}
