network:
  version: 2
  ethernets:
    {{ target_interface }}:
      dhcp4: false
      addresses:
        - {{ static_ipv4 }}
      nameservers:
        addresses:
{% for dns in static_dns %}
          - {{ dns }}
{% endfor %}
      routes:
        - to: default
          via: {{ local_gateway }}
